@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap');
html, body{
    
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #2a2d39;
    text-decoration: none;
}
.head {
    background-clip: padding-box;
    border: 3px solid transparent;
}
.body {
    padding-top: 0;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: #dcd3c7 transparent;
    background: #fff;
    tab-size: 4;
    



}
body a {
    text-decoration: none;
    color: #2a2d39;


    
}
.navbar-top {
    position: sticky;
    background-color: #FFFFFF;
    display: flex;
    width: 100%;

}

.navbar-branding {
    padding-left: 10px;
    justify-content: space-between;
    text-decoration: none;  
}
.navbar-branding .navbar-item {
    align-self: left;
    padding: 0;
    font-size: 30px;
    line-height: 1;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    word-wrap: anywhere;
    display: flex;
}
.navbar-branding .navbar-item:last-child :not(:first-child) {
    padding-top: 5px;
    font-size: 35px;
}
.navbar-branding .navbar-item:first-child :not(:last-child) {
    padding-right: 5px;
}




#container {
    width: 100%;
    height: 100px;
    position: relative;

}

.top-card {
    height: 250x;
    width: 100%;
    background-color: #e7ac67;
    background-size: cover;
    bottom: 0;
    left: 0;
    padding: 2%;
    margin-bottom: 40px;
}

.main-page {
    text-align: center;
    font-size: 30px;   
}


.app-container {
    display: flex;
    height: 300px;
}

.painted-planks {
    background-color: #2a2d39;
    height: 35vh;
    width: 300px;
    margin-left: 10%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.pp-image {
    height: 40%;
    width: 100%;
    background-image: url(https://cdn.modrinth.com/data/5lZWiV5I/images/3f0d965988c71735298c86a188becfa631484be1.png);
    background-size: cover;
    margin-bottom: 5%;
    margin-top: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.pp-title {
    text-align: center;
    font-size: 30px;
    height: 30px;
    color: #fff;
}

.pp-description {
    color: #b0bac5;
    font-size: 15px;
    text-align: center;
    margin: 10px;
    margin-top: 10px;
}

.pp-download {
    position: relative;
    display: flex;
    width: 80%;
    height: 10%;
    border-radius: 20px;
    background-color: #1bd96a;
    margin: 10%;
    top: 0;
    transition: top ease 0.5s;
}

.pp-download:hover {
    background-color: #108441;
    top: 5px;
}

.pp-download a {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 1%;
}