/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-xn2l5aia1e] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-xn2l5aia1e] {
    flex: 1;
}

.sidebar[b-xn2l5aia1e] {
    background-color: #FFFFFF;
}

.top-row[b-xn2l5aia1e] {
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-xn2l5aia1e]  a, .top-row[b-xn2l5aia1e]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-xn2l5aia1e]  a:hover, .top-row[b-xn2l5aia1e]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-xn2l5aia1e]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-xn2l5aia1e] {
        justify-content: space-between;
    }

    .top-row[b-xn2l5aia1e]  a, .top-row[b-xn2l5aia1e]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-xn2l5aia1e] {
        flex-direction: row;
    }

    .sidebar[b-xn2l5aia1e] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-xn2l5aia1e] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-xn2l5aia1e]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-xn2l5aia1e], article[b-xn2l5aia1e] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-r1r623j3hl] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-r1r623j3hl] {
    min-height: 3.5rem;
}

.navbar-brand[b-r1r623j3hl] {
    font-size: 1.1rem;
    text-align: center;
    color: #071E22;
    
}

.navbar-title[b-r1r623j3hl] {
    margin: auto;
    padding: 10px;
    color: #071E22;
    
}

.bi[b-r1r623j3hl] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-list-nested-nav-menu[b-r1r623j3hl] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-r1r623j3hl] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    color: #00070A;
}

    .nav-item:first-of-type[b-r1r623j3hl] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-r1r623j3hl] {
        padding-bottom: 1rem;
    }

    .nav-item[b-r1r623j3hl]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-r1r623j3hl]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-r1r623j3hl]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-r1r623j3hl] {
        display: none;
    }

    .collapse[b-r1r623j3hl] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-r1r623j3hl] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
