@page "/home"
<link rel="stylesheet" href="sass/Glow.css">
<link rel="stylesheet" href="sass/AboutMe.css">
<script src="js/CursorTrail.js"></script>
<div class="background">
    <div id="house-container">
        <div id="house-pattern">
            <div id="house-gradient-overlay">
                <article class="content px-4" id="content">
                    <h2 class="animate__animated animate__bounce">
                        <strong>About Me 🏠</strong>
                    </h2>
                    <a>
                        I'm Cameron a @age year old programmer from the UK.
                    </a>
                </article>
            </div>
        </div>
    </div>
</div>
<PageTitle>About Me</PageTitle>
