@page "/"
<link rel="stylesheet" href="css/UnderConstruction.css">

<h1><strong>⚠️ UNDER CONSTRUCTION ⚠️</strong></h1>
<div id="message">
    <div>
        <a>This page is currently being worked on, in the meantime feel free to check out</a>
        <a href="https://github.com/auxy6858">my github.</a>
    </div>
    <img src="assets/BackSoon.png" alt="Back soon image"/>
</div>
